body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  /* pink to purple yeyyy :) */
  background: linear-gradient(to bottom, rgba(255, 182, 193, 1) 0%, rgba(147, 112, 219, 1) 100%);
}

html {
  scroll-behavior: smooth;
}

/* Home Section */
section#home {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  padding: 0;
  margin: 0;
  background: radial-gradient(circle, rgba(255, 105, 180, 1) 0%, rgba(255, 182, 193, 0.8) 40%, rgba(255, 255, 255, 1) 100%);
  z-index: 2;
}

section#home h1 {
  font-size: 3rem;
  font-weight: bold;
  z-index: 3;
}

section#home p {
  font-size: 1.5rem;
  z-index: 3;
}

/* Social Icons Styling */
.social-icons {
  margin-top: 20px;
  display: flex;
  gap: 20px;
  justify-content: center;
}

.social-icons a {
  text-decoration: none;
  font-size: 4rem;
  color: white;
  transition: color 0.3s ease, transform 0.3s ease;
}

.social-icons a:hover {
  color: #ff69b4;
  transform: scale(1.2);
}

#about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.tech-stack {
  text-align: center;
}

.tech-icons {
  display: flex;
  justify-content: center;
  gap: 30px;  
  flex-wrap: wrap;
}

.tech-icon {
  font-size: 60px; 
  color: #fff;
  transition: transform 0.3s ease, color 0.3s ease;
  margin: 10px;
}

.tech-icon:hover {
  transform: scale(1.2);  
  color: #f06292;  
}

h3 {
  font-size: 2rem;
  margin-bottom: 20px;
}
